server:
  port: 0

spring:
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        default_schema: shopping_cart
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/telemetry_analyzer
    driver-class-name: org.postgresql.Driver
    username: dbuser
    password: 12345
